<!DOCTYPE html>
<html lang="hr">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Stranica nije pronađena | Pčelarstvo Pavlović</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="flex min-h-[75vh] items-center justify-center">
      <div class="text-center">
        <p class="text-base font-semibold text-amber-300">404</p>
        <h1
          class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
        >
          Stranica ne postoji
        </h1>
        <p class="mt-6 text-base leading-7 text-gray-600">
          Nažalost, nismo mogli pronaći stranicu koju tražite.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/" class="button">Natrag na naslovnu</a>
          <a
            href="/kontakt"
            class="text-sm font-semibold text-gray-900 dark:text-gray-50"
            >Kontaktirajte podršku <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
